<div class="nav-container">
    <div class="login-container">
        <div class="login-link"><a href="#">Login</a></div>
    </div>

    <%= render "partials/flash", messages: [] %>

    <div class="logo-container"><%= image_tag("potlux-sidebar.png") %></div>

    <div class="nav-menu-container">
        <ul>
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">Submit</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
        </ul>
    </div>
</div>