<div class="container">
<!--   <form action="/search" method="GET" class="search">
    <label for="search-by">Search by:</label>
    <select name="search-by">
        <option value="university">UNIVERSITY</option>
        <option value="tag">TAG</option>
    </select>
    <input type="text" name="search-term" placeholder="Search" />
  </form>

  <div class="projects-container">
    <div class="card-container">
      <%= link_to '/projects/new', class: "new-project-card" do %>
        <div class="middle">+</div>
      <% end %>
    </div>
    <% @projects.each do |project| %>
      <%= render 'partials/project/card', project: project %>
    <% end %>
  </div> -->
</div>