@import "bootstrap.scss";

$potlux-light-grey: #dddddd;

.container {
    margin-left: 250px;

    .projects-container {
        @include make-row();

        .card-container {
            @include make-sm-column(4, 0px);

            a {
                max-width: 320px;
                display: block;
                background-color: $potlux-light-grey;
            }

            .new-project-card {
                font-size: 150px;
                font-weight: 100;
                height: 375px;
                line-height: 150px;

                .middle {
                    text-align: center;
                    margin-top: 120px;
                }
            }

            &.project {

                .front {
                    background-size:cover;
                    background-position: center;
                }
            }
        }
    }
}