@import "bootstrap";
// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New Project Page.
.new_project {	
	width: 75%;
	margin: auto;
	text-align: center;

	.field {
		+ div {
			margin-top: 30px;
		}
	}
}

@media(min-width: $screen-sm-min) {
	.new_project {
		display: inline-block;
		width: initial;

		top: 170px;
	    left: 70px;
	    position: relative;
	}
}